@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.txt-center {
    text-align: center;
}

.btn-default {
    color: #fff !important;
    background-color: #3829e0 !important;
    border-color: #3829e0 !important;
}

.btn-default:hover{
    color: #fff !important;
    background-color: #2e22b9 !important;
    border-color: #463bbe !important;
}

.txt-card {
    color: #7280a7;
}